	<footer>
			<div class="container navbar-fixed-bottom">
				<div class="row" style="text-align:center;padding-top: 5px;">
					<div class="col-lg-12">
						<ul class="list-inline">
							<li><a href="/"><strong>Home</strong></a>
							</li>
							<li class="footer-menu-divider">&sdot;</li>
							<li><a href="mailto:tebookglobal@gmail.com"><strong>Contact</strong></a>
							</li>
						</ul>
						<p class="copyright text-muted small"><strong>Copyright &copy; Tebook 2014. All Rights Reserved</strong></p>
					</div>
				</div>
			</div>
	</footer>