<%= link_to("Home", root_url) %>
<h1>Search Result for <%= @courseInfo.course_name %></h1>
<% @courseInfo.attributes.each do |attr_name, attr_value| %>
<ol>
  <% if attr_name != "id" && attr_name != "course_name" && attr_name != "number" && attr_name != "created_at" && attr_name != "updated_at" && attr_value != nil %>
    <li><%= attr_value %></li>
  <% end %>
</ol>
<% end %>
