<h1>Search Result</h1>
<% @courseInfo.attributes.each do |attr_name, attr_value| %>
  <% if attr_name != "id" && attr_name != "created_at" && attr_name != "updated_at" && attr_value != nil %>
    <div>
      <%= attr_name %>: <%= attr_value %>
    </div>
  <% end %>
<% end %>
