<h1>GetBook#read</h1>
<% @courseInfo.attributes.each do |attr_name, attr_value| %>
  <% if attr_name != "id" && attr_name != "created_at" && attr_name != "updated_at" && attr_value != nil %>
    <div>
      <%= attr_name %>: <%= attr_value %>
    </div>
  <% end %>
<% end %>

<p>Find me in app/views/get_book/read.html.erb</p>
