<div class="msg_bundle">
	<span class="sender"><%= message.sender%>:</span>
	<span class="msg"><%= message.content %></span>
	<span class="msgtime timezone"><%= message.created_at.to_s %></span>
</div>